

<div id="h">
  <div id="info-flashes"></div>
  <div class="logo">Commersational</div>
  <div class="social hidden-xs">
    <a href="https://twitter.com/commersational" target="_blank"><i class="ion-social-twitter"></i></a>
    <a href="https://www.linkedin.com/company/commersational" target="_blank"><i class="ion-social-linkedin" target="_blank"></i></a>
    <a href="https://www.facebook.com/commersational"><i class="ion-social-facebook" target="_blank"></i></a>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 centered">
        <h1>eCommerce one text at a time</h1>
        <h3>Sell your product in any messaging app: SMS, Facebook and more</h3>
        <div class="mtb">
          <%= form_for Lead.new, remote: true do %>
            <input type="email" name="lead[email]" class="subscribe-input" placeholder="Enter your e-mail address..." required>
            <button class='btn btn-conf btn-green' type="submit">Sign up now</button>
          <% end %>
        </div><!--/mt-->
        <h3>Sign up now to join our beta customer list today!</h3>
      </div>
    </div><!--/row-->
  </div><!--/container-->
</div><!-- /H -->

<div class="container ptb">
  <div class="row">
    <div class="col-md-6">
      <h2>Make it easy for your customers to buy what they want via text messaging</h2>
      <p class="mt">Commersational integrates with your ecommerce system, enabling your reps to send nicely formatted product information  via chat experience and guide the user through the product purchasing life cycle: discovery, checkout, payment and post sales process without ever leaving the chat experience.</p>
      
    </div>
    <div class="col-md-5 col-md-offset-1">
      <%= image_tag('seq.gif')%>
    </div>
  </div><!--/row-->
</div><!--/container-->





<div id="g">
  <div class="container">
    <div class="row sponsor centered">
      <div class="col-sm-2 col-sm-offset-1">
        <%= image_tag('logos/facebook_2015_logo.png')%>
      </div>
      <div class="col-sm-2">
        <%= image_tag('logos/apple-messages.png')%>
      </div>
      <div class="col-sm-2">
        <%= image_tag('logos/shopify-logo.png')%>
      </div>
      <div class="col-sm-2">
        <%= image_tag('logos/magento-logo.png')%>
      </div>
      <div class="col-sm-2">
        <%= image_tag('logos/apple-messages.png')%>
      </div>
    </div><!--/row-->
  </div>
</div><!--/g-->



<div id="f">
  <div class="container">
    <div class="row centered">
      <h2>You Can Contact Us</h2>
      <h5>CONTACT@COMMERSATIONAL.COM</h5>

      <p class="mt">
        <a href="https://twitter.com/commersational" target="_blank"><i class="ion-social-twitter"></i></a>
        
        
        <a href="https://www.facebook.com/commersational" target="_blank"><i class="ion-social-facebook"></i></a>
        <a href="https://www.linkedin.com/company/commersational" target="_blank"><i class="ion-social-linkedin"></i></a>
        
      </p>
      <h6 class="mt">COPYRIGHT 2015 - Commersational</h6>
    </div><!--/row-->
  </div><!--/container-->
</div><!--/F-->

<div id="questionnaire-holder">
  
</div>

