

<div id="h">
  <div id="info-flashes"></div>
  <div class="logo">
    Commersational<br/>
    <div class="fb-like" data-href="https://www.facebook.com/commersational" data-layout="button" data-action="like" data-show-faces="true" data-share="false"></div>
  </div>
  <div class="social hidden-xs">

    <a href="https://twitter.com/commersational" target="_blank"><i class="ion-social-twitter"></i></a>
    <a href="https://www.linkedin.com/company/commersational" target="_blank"><i class="ion-social-linkedin" target="_blank"></i></a>
    <a href="https://www.facebook.com/commersational"><i class="ion-social-facebook" target="_blank"></i></a>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 centered">
        <h1>eCommerce directly from messaging apps</h1>
        <h3>Sell your products via any messaging app: Facebook Messenger, SMS and more</h3>
      </div>
      <div class="col-md-6 col-md-offset-3 centered">
        <div class="mtb">
          <%= form_for Lead.new, remote: true do %>
            <input type="email" name="lead[email]" class="subscribe-input" placeholder="Enter your e-mail address..." required>
            <button class='btn btn-conf btn-green' type="submit">Sign up now</button>
          <% end %>
        </div><!--/mt-->
        <h3>Sign up now for early access</h3>
      </div>
    </div><!--/row-->
  </div><!--/container-->
</div><!-- /H -->

<div class="container ptb">
  <div class="row">
    <div class="col-md-5">
      <h2>Let your customers shop directly from their preferred messaging app</h2>
      </br>
      <p style="font-size:16px">Commersational automatically creates a chat interface (chatbot) for your eCommerce site so your customers can easily discovery and purchase the right product from their preferred messaging application.
          </br>
          </br>
          Commersational requires no coding!
      </p>
    </div>
    <div class="col-md-4 col-md-offset-1">
      <%= image_tag('seq2.gif', class: "img-responsive") %>
    </div>
  </div><!--/row-->
</div><!--/container-->





<div id="g">
  <div class="container">
    <div class="row sponsor centered">
      <div class="col-sm-2 col-sm-offset-1">
        <%= image_tag('logos/facebook_2015_logo.png')%>
      </div>
      <div class="col-sm-2">
        <%= image_tag('logos/apple-messages.png')%>
      </div>
      <div class="col-sm-2">
        <%= image_tag('logos/shopify-logo.png')%>
      </div>
      <div class="col-sm-2">
        <%= image_tag('logos/magento-logo.png')%>
      </div>
      <div class="col-sm-2">
        <%= image_tag('logos/SMS-icon.png')%>
      </div>
    </div><!--/row-->
  </div>
</div><!--/g-->



<div id="f">
  <div class="container">
    <div class="row centered">
      <h2>You Can Contact Us</h2>
      <h5>CONTACT@COMMERSATIONAL.COM</h5>

      <p class="mt">
        <a href="https://twitter.com/commersational" target="_blank"><i class="ion-social-twitter"></i></a>
        
        
        <a href="https://www.facebook.com/commersational" target="_blank"><i class="ion-social-facebook"></i></a>
        <a href="https://www.linkedin.com/company/commersational" target="_blank"><i class="ion-social-linkedin"></i></a>
        
      </p>
      <h6 class="mt">COPYRIGHT 2015 - Commersational</h6>
    </div><!--/row-->
  </div><!--/container-->
</div><!--/F-->

<div id="questionnaire-holder">
  
</div>

