

<div id="h">
  <div id="info-flashes"></div>
  <div class="logo row">
  <div class="left">
    <%= image_tag('Commersational.png', size: "42x42" )%> Commersational<br/>
    <div class="fb-like" data-href="https://www.facebook.com/commersational" data-layout="button" data-action="like" data-show-faces="true" data-share="false"></div>
    
  </div>
  </div>
  <div class="social hidden-xs">

    <a href="https://twitter.com/commersational" target="_blank"><i class="ion-social-twitter"></i></a>
    <a href="https://www.linkedin.com/company/commersational" target="_blank"><i class="ion-social-linkedin" target="_blank"></i></a>
    <a href="https://www.facebook.com/commersational"><i class="ion-social-facebook" target="_blank"></i></a>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 centered">
        <h1>AI Powered Conversational Lead Engagement Platform</h1>
        <h3>Get more qualified leads by automating lead capturing, qualification and nurturing</h3>
      </div>
      <div class="col-md-6 col-md-offset-3 centered">
        <div class="mtb">
          <%= form_for Lead.new, remote: true do %>
            <input type="email" name="lead[email]" class="subscribe-input" placeholder="Enter your e-mail address..." required>
            <button class='btn btn-conf btn-green' type="submit">Get Started</button>
          <% end %>
        </div><!--/mt-->
        <h3>Have questions? See a demo?   (click 'Message Us' button):</h3>
        </br>
        
        <div class="fb-messengermessageus" 
          messenger_app_id="1558403514227556" 
          page_id="101516013588568"
          
          color="blue"
          size="xlarge" >
        </div>    
      </div>
    </div><!--/row-->
  </div><!--/container-->
</div><!-- /H -->

<div class="container ptb">
  <div class="row">
    <div class="col-md-5">
      <h2>Increase sales by generating more qualified leads</h2>
      </br>
      <p style="font-size:17px">Engage your customers on your website, messaging apps and email with AI powered personalized conversations to automate each step in the capturing, qualification and nurturing process, allowing your sales reps to focus on converting the right leads to opportunities.
          </br>
          </br>
          
      </p>
    </div>
    <div class="col-md-4 col-md-offset-1">
      <%= image_tag('b2b.png') %>
    </div>
  </div><!--/row-->
</div><!--/container-->





<div id="g">
  <div class="container">
    <div class="row sponsor centered">
      <div class="col-sm-2 col-sm-offset-1">
        <%= image_tag('logos/facebook_2015_logo.png')%>
      </div>
      <div class="col-sm-2">
        <%= image_tag('logos/apple-messages.png')%>
      </div>
      <div class="col-sm-2">
        <%= image_tag('logos/marketo.png')%>
      </div>
      <div class="col-sm-2">
        <%= image_tag('logos/salesforce_logo.png')%>
      </div>
      <div class="col-sm-2">
        <%= image_tag('logos/SMS-icon.png')%>
      </div>
    </div><!--/row-->
  </div>
</div><!--/g-->



<div id="f">
  <div class="container">
    <div class="row centered">
      <h2>Contact us</h2>
      <h5>CONTACT@COMMERSATIONAL.COM</h5>

      <p class="mt">
        <a href="https://twitter.com/commersational" target="_blank"><i class="ion-social-twitter"></i></a>
        
        
        <a href="https://www.facebook.com/commersational" target="_blank"><i class="ion-social-facebook"></i></a>
        <a href="https://www.linkedin.com/company/commersational" target="_blank"><i class="ion-social-linkedin"></i></a>
        
      </p>
      <h6 class="mt">COPYRIGHT 2017 - Commersational</h6>
    </div><!--/row-->
  </div><!--/container-->
</div><!--/F-->

<div id="questionnaire-holder">
  
</div>

